<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>

    <style>
        body {
          background-image: url("https://media.istockphoto.com/id/1309083410/photo/indian-happy-rural-family-in-village-with-mustard-field.jpg?s=1024x1024&w=is&k=20&c=Yoqfq0kXj5vUtsjbY7eqJApsGJ74LnuL_YqrE3ZPS_c=");
          background-repeat: no-repeat;
          background-size: cover;
        }
      </style>
</head>
<body>
    <h1>Welcome to Fawda website !</h1>
</body>
</html>