<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>

    <style>
        body {
            background-image: url("static/assets-admin/images/FAWDA-LOGO.png");
            background-repeat: no-repeat;
            background-size: 30%;
            background-position:center top;
          }
      </style>
</head>
<body>
    <h1>Welcome to Fawda APIs !</h1>
</body>
</html>