
{% load adminlte_helpers i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- <script src="/static/asstes-admin/js/jspdf.min.js"></script> -->

    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}
<link rel="icon" href="{{site_info.favicon.url}}">
    {% block stylesheets %}
        {% include 'adminlte/lib/_styles.html' %}
    {% endblock %}

    {% block extra_head %}{% endblock %}
    <link href="/static/assets-admin/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets-admin/css/custom.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<style>
  table {
  font-size: 14px;
}

th {
  background-color: #717579;
  color: white;
}

td {
  background-color: #f2f2f2;
  color: black;
}

</style>
<body class="hold-transition sidebar-mini {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}">

{% block body %}
    <div class="wrapper">
        {% block nav_header %}
            {% include 'adminlte/lib/_main_header.html' %}
        {% endblock %}

        {% block nav_sidebar %}
            {% include 'adminlte/lib/_main_sidebar.html' %}
        {% endblock %}

        {% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
                <section class="content-header">
                    {% block no_heading %}
                        <h1>
                            {% block page_name %}{% endblock %}
                            <div class="header-actions">
                                {% block page_actions %}{% endblock %}
                            </div>
                            {% block no_description %}
                            <small>{% block page_description %}{% endblock %}</small>
                            {% endblock %}
                        </h1>
                        {% block breadcrumbs %}
                            {# Breadcrumb implementation left to developers #}
                        {% endblock %}
                    {% endblock no_heading %}
                </section>
            {% endblock %}

            {% block content_outer %}
            <section class="content">

              <div class="justify-content-between d-flex align-items-center">
                <h1>Sahayak Booking History</h1>
                <a href="{% url 'history_sahayak' %}" class="btn btn-primary">Download</a>
              </div>

                <table class="table table-bordered table-striped table-hover table-sm table-dark border-dark">
                  <thead class="bg-primary text-white">
                    <tr>
                      <th>Sr.No.</th>
                      <th>Grahak Name</th>
                      <th>Grahak Mobile No</th>
                      <th>Job Type</th>
                      <th>Job Number</th>
                      <th>Job Posting Date</th>
                      <th>Job Booking Date</th>
                      <th>Job Status</th>
                      <th>Payment Status by Admin</th>
                      <th>Paid to Service Provider</th>
                      <th>Paid by Grahak</th>
                      <th>Sahayak Name</th>
                      <th>Sahayak Mobile No</th>
                      <th>Invoice</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for booking in bookings %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{ booking.grahak_name }}</td>
                      <td>{{ booking.grahak_mobile_no }}</td>
                      <td>{{ booking.job_type }}</td>
                      <td>{{ booking.job_number }}</td>
                      <td>{{ booking.job_posting_date }}</td>
                      <td>{{ booking.job_booking_date }}</td>
                      <td>{{ booking.job_status }}</td>
                      <td>{{ booking.payment_status_by_admin }}</td>
                      <td>{{ booking.paid_to_service_provider }}</td>
                      <td>{{ booking.paid_by_grahak }}</td>
                      <td>{{ booking.sahayak_name }}</td>
                      <td>{{ booking.sahayak_mobile_no }}</td>
                      <td class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="GetJobID('{{booking.booking_id}}')">invoice</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <div class=" justify-content-between d-flex align-items-center">
                  <h1>Machine Booking History</h1>
                  <a href="{% url 'history_machine' %}" class="btn btn-primary">Download</a>
                </div>
                <table class="table table-bordered table-striped table-hover table-sm table-dark border-dark">
                  <thead class="bg-primary text-white">
                    <tr>
                      <th>Sr.No.</th>
                      <th>Grahak Name</th>
                      <th>Grahak Mobile No</th>
                      <th>Job Type</th>
                      <th>Job Number</th>
                      <th>Job Posting Date</th>
                      <th>Job Booking Date</th>
                      <th>Job Status</th>
                      <th>Payment Status by Admin</th>
                      <th>Paid to Service Provider</th>
                      <th>Paid by Grahak</th>
                      <th>Machine Malik Name</th>
                      <th>Machine Malik Mobile No</th>
                      <th>Invoice</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for booking in bookings2 %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{ booking.grahak_name }}</td>
                      <td>{{ booking.grahak_mobile_no }}</td>
                      <td>{{ booking.job_type }}</td>
                      <td>{{ booking.job_number }}</td>
                      <td>{{ booking.job_posting_date }}</td>
                      <td>{{ booking.job_booking_date }}</td>
                      <td>{{ booking.job_status }}</td>
                      <td>{{ booking.payment_status_by_admin }}</td>
                      <td>{{ booking.paid_to_service_provider }}</td>
                      <td>{{ booking.paid_by_grahak }}</td>
                      <td>{{ booking.machine_malik_name }}</td>
                      <td>{{ booking.machine_malik_mobile_no }}</td>
                      <td class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="GetJobID('{{booking.booking_id}}')">invoice</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content" id="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header" id="invoice_wrapper">
                <header class="fawda-header">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-md-3 mt-3">
                                <span>
                                    <img src="/static/assets-admin/images/FAWDA-LOGO.png" class="invoice-logo-image pl-lg-5">
                                </span>
                            </div>
                            <div class="col-md-3 align-self-center mt-3">
                                <h1 class="">TAX INVOICE</h1>
                            </div>
                        </div>
                    </div>
                </header>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body" id="letdown">
                <section class="section-tax-invoice">
                    <div class="container d-flex  mt-lg-4 mt-3">
                        <span>
                            <img src="/static/assets-admin/images/LOCATION.png" class="invoice-location-image pr-3">
                        </span>
                        <div class="row justify-content-between">
                            <div class="col-md-4">
                                <div class="d-flex">
                                    <h5 class="" id="client-address-head"></h5>
                                </div>
                            </div>
                            <div class="col-md-5"></div>
                            <div class="col-md-3 mt-3">
                                <h2>Platform Provider</h2>
                            </div>
        
                            <div class="col-md-3 mt-lg-4 mt-3">
                                <h3>Customer Name</h3>
                                <p id="grahak-name">Grahak name</p>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3 mt-lg-4 mt-3">
                                <h3>Business GSTIN</h3>
                                <p id="gst-number">09AAFCF3182N1Z6</p>
                            </div>
                            <div class="col-md-3 mt-lg-4 mt-3">
                                <h3>Invoice Number</h3>
                                <p id="job-number">Job Number</p>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3  mt-lg-4 mt-3">
                                <h3>Business Name</h3>
                                <p id="busigness-name-client">Fawdastar Agrisolutions Private Limited</p>
                            </div>
                            <div class="col-md-3  mt-lg-4 mt-3">
                                <h3>Delivery Address</h3>
                                <p id="grahak-address-1">Grahak’s Address</p>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3  mt-lg-4 mt-3">
                                <h3>Address</h3>
                                <p id="client-address">122, vill & PO - Mora Rampur Maniharan,
                                    Saharanpur, Uttar Pradesh - 247453,
                                    India</p>
                            </div>
                            <div class="col-md-3  mt-lg-4 mt-3">
                                <h3>Invoice Date</h3>
                                <p id="invoice-date">Date of Invoice generation</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mt-lg-5 mt-4">
                    <div class="bg-primary p-1">
                        <div class="container">
                            <div class="row align-self-center tax-amount">
                                <div class="col-md-6">
                                    <h5 class="text-white">Items</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="text-white text-right">Amount</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row mt-lg-5 mt-3">
                            <div class="col-md-6">
                                <h4>Fawda Platform Fee</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex">
                                    <h4>Gross Amount</h4>
                                    <h4 class="text-primary ml-auto" id="fawda-fee-gross">₹ 20.00</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mt-lg-5 mt-4">
                    <div class="bg-primary p-1">
                        <div class="container">
                            <div class="row align-self-center tax-amount">
                                <div class="col-md-6">
                                    <h5 class="text-white">Total Amount</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="text-white text-right" id="fawda-fee-total">₹ 20.00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mt-lg-5 mt-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <div class="signature ml-auto"></div>
                                <h5 class="ml-lg-5 mt-3 text-right">Signature of authorized
                                    representative</h5>
                            </div>
                        </div>
        
                    </div>
        
                </section>
                <section>
                    <!-- SERVICE PROVIDER RECIEPT HEADER-->
                    <header class="full-w fawda-header mt-lg-5 mt-3">
                        <div class="container">
                            <div class="row justify-content-between">
                                <div class="col-md-3 mt-3">
                                    <span>
                                        <img src="/static/assets-admin/images/FAWDA-LOGO.png" class="invoice-logo-image pl-lg-5">
                                    </span>
                                </div>
                                <div class="col-md-4 align-self-center mt-3">
                                    <h1 class="">SERVICE PROVIDER
                                        RECIEPT</h1>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- SERVICE PROVIDER RECIEPT BODY -->
                    <section class="full-w section-tax-invoice">
                        <div class="container d-flex  mt-lg-4 mt-3">
                            <span>
                                <img src="/static/assets-admin/images/LOCATION.png" class="invoice-location-image pr-3">
                            </span>
                            <div class="row justify-content-between">
                                <div class="col-md-4">
                                    <div class="d-flex">
                                        <h5 class="" id="client-address-1">122, vill & PO - Mora
        
                                            Rampur Maniharan, Saharanpur,
        
                                            Uttar Pradesh - 247453, India</h5>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-md-3 mt-3">
                                    <h2>Service Provider</h2>
                                </div>
        
                                <div class="col-md-3 mt-lg-4 mt-3">
                                    <h3>Customer Name</h3>
                                    <p id="grahak-name-1">Grahak’s Name</p>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3  mt-lg-4 mt-3">
                                    <h3>Business Name</h3>
                                    <p id="provider-name">sahayak/machine malik name</p>
                                </div>
                                <div class="col-md-3 mt-lg-4 mt-3">
                                    <h3>Invoice Number</h3>
                                    <p id="job-number-1">Job Number</p>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3  mt-lg-4 mt-3">
                                    <h3>Address</h3>
                                    <p id="provider-address">sahayak/machine malik address</p>
                                </div>
                                <div class="col-md-3  mt-lg-4 mt-3">
                                    <h3>Delivery Address</h3>
                                    <p id="grahak-address-2">Grahak’s Address</p>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3  mt-lg-4 mt-3">
                                    <h3>Invoice Date</h3>
                                    <p id="invoice-date-1">Date of Invoice generation</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="mt-lg-5 mt-4">
                        <div class="bg-primary p-1">
                            <div class="container">
                                <div class="row tax-amount">
                                    <div class="col-md-6">
                                        <h5 class="text-white">Items</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="text-white text-right">Amount</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mt-lg-5 mt-3">
                                <div class="col-md-6">
                                    <h4>Service Charges</h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex">
                                        <h4>Gross Amount</h4>
                                        <h4 class="text-primary ml-auto" id="total-amount">₹ 390.00</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="mt-lg-5 mt-4 ">
                        <div class="bg-primary p-1">
                            <div class="container">
                                <div class="row tax-amount">
                                    <div class="col-md-6">
                                        <h5 class="text-white">Total Amount</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="text-white text-right" id="total-amount-1">₹ 390.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </section>       
            </div>

      
            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="download-button">Download PDF</button>
             
            </div>
      
          </div>
        </div>
      </div>

            </section>
            {% endblock %}

        </div>
        {% endblock content_wrapper %}
        
        {% block nav_footer %}
            {% include 'adminlte/lib/_main_footer.html' %}
        {% endblock %}

    </div>
{% endblock body %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script>
  function GetJobID(id) {
      $.ajax({
          url: '/api/invoice/',
          type: 'GET',
          data: {id: id},
          dataType: 'json',
          success :function(invoice_data){
            console.log(invoice_data.invoice_data.grahak_address)
            document.getElementById('grahak-name').innerHTML=invoice_data.invoice_data.grahak_name;
            document.getElementById('gst-number').innerHTML=invoice_data.invoice_data.busigness_gst;
            document.getElementById('job-number').innerHTML=invoice_data.invoice_data.job_number;
            document.getElementById('busigness-name-client').innerHTML=invoice_data.invoice_data.busigness_name;
            document.getElementById('grahak-address-1').innerHTML=invoice_data.invoice_data.grahak_address;
            document.getElementById('client-address').  innerHTML=invoice_data?.invoice_data.client_address;
            document.getElementById('client-address-1').innerHTML=invoice_data.invoice_data.client_address;
            document.getElementById('grahak-name-1').innerHTML=invoice_data.invoice_data.grahak_name;
            document.getElementById('fawda-fee-gross').innerHTML=invoice_data.invoice_data.fawda_fee;
            document.getElementById('fawda-fee-total').innerHTML=invoice_data.invoice_data.fawda_fee;
            document.getElementById('provider-name').innerHTML=invoice_data.invoice_data.provider_name;
            document.getElementById('provider-address').innerHTML=invoice_data.invoice_data.provider_address;
            document.getElementById('job-number-1').innerHTML=invoice_data.invoice_data.job_number;
            document.getElementById('grahak-address-2').innerHTML=invoice_data.invoice_data.grahak_address;
            document.getElementById('invoice-date-1').innerHTML=invoice_data.invoice_data.date_invoice_generation;
            document.getElementById('total-amount').innerHTML=invoice_data.invoice_data.payment;
            document.getElementById('total-amount-1').innerHTML=invoice_data.invoice_data.payment;
            document.getElementById('client-address-head').innerHTML=invoice_data.invoice_data.client_address;
            document.getElementById('invoice-date').innerHTML=invoice_data.invoice_data.date_invoice_generation;

          }
        })}  
        

 
</script>

<script>

    $(function(){

    $('#download-button').on('click',function() {
        		// Choose the element that your content will be rendered to.
				const element = document.getElementById('modal-content');

                console.log(element);
				// Choose the element and save the PDF for your user.
				html2pdf().from(element).save();
    });


    });
</script>
<script src="/static/assets-admin/js/chart.js"></script>
<script src="/static/assets-admin/js/custom-chart.js" type="text/javascript"></script>
<script src="/static/asstes-admin/js/bootstrap.js"></script>

{% endblock %}

{% block extra_js %}{% endblock %}

{% block extra_foot %}{% endblock %}
</body>
</html>
