{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_menu %}
{% load i18n static %}
{% block extrastyle %}
{{ block.super }}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" /> -->
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<style>
  .small-box h4 {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.small-box .inner p {
    font-size: 12px;
    margin-bottom: 0px;
    color: #fff;
}
.small-box .icon>i.ion {
    top: unset;
    bottom: 0;
    font-size: 40px;
}
.content-wrapper{
  min-height: auto !important;
}
.myTable th{
  white-space: nowrap;
}
.Borders {
        border: 1px solid rgb(192, 189, 184);
        padding: 10px;
        border-radius: 5px;
    }
    
</style>
<div class="row mb-2">
    <div class="col-sm-6">
        <h2>{{site_info.site_name}} Fawda Administration</h2>
    </div>
    <div class="col-sm-8">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fas fa-tachometer-alt"></i> {% trans 'Home' %}</a></li>
            <!-- {% for app in app_list %}
            <li class="breadcrumb-item active">{{ app.name }}</li>
            {% endfor %} -->
        </ol>
    </div>
</div>
{% endblock %}
{% endif %}


{% block content %}
<div id="content-main" class="container-fluid">
    	<div class="row">
            <div class="col">
                <!-- small box -->
                <div class="small-box bg-info">
                  <div class="inner">
                    <h4>Revenue</h4>
                    <b>
                    <p>Total:100</p>
                    <p>Today:05</p>
                    </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                 
                </div>
              </div>
              <!-- ./col -->
              <div class="col">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h4>Grahak Registration</h4>
                  <b>
                    <p>Total:{{total_registrations_grahak}}</p>
                    <p>Today:{{today_registrations_grahak}}</p>
                  </b>

                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                 
                </div>
              </div>
              <!-- ./col -->
              <div class="col">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h4>Sahayak Registration</h4>
                  <b>
                    <p>Total:{{total_registrations_sahayak}}</p>
                    <p>Today:{{today_registrations_sahayak}}</p>
                  </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                  
                </div>
              </div>
              <!-- ./col -->
              <div class="col">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h4>Machine Registration</h4>
                    <b>
                    <p>Total:{{total_registrations_machine}}</p>
                    <p>Today:{{today_registrations_machine}}</p>
                    </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
               
                </div>
              </div>

              <div class="col">
                <!-- small box -->
                <div class="small-box bg-secondary">
                  <div class="inner">
                    <h4>Job Booking</h4>
                  <b>
                    <p>Total:{{total_booking}}</p>
                    <p>Today:{{today_booking}}</p>
                  </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
               
                </div>
              </div>
              <!-- ./col -->
        </div>
    
       <!-- chart -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">
              <h4>Filter with status</h4>
              <select class="form-control w-auto my-3" id="status-filter" onchange="statusfunction()">
                <option value="Pending" selected>Pending</option>
                <option value="Accepted">Accepted</option>
                <option value="Booked">Booked</option>
                <option value="Ongoing">Ongoing</option>
                <option value="Completed">Completed</option>
              </select>
              <div class="table-responsive">
                <table class="table table-bordered table-striped myTable">
                  <thead>
                      <tr>
                        <th scope="col">Sr. No</th>
                        <th scope="col">Job Number</th>
                        <th scope="col">Job Type</th>
                        <th scope="col">Job Posting Date</th>
                        <th scope="col">Job Booking Date</th>
                        <th scope="col">Job Details</th>
                        <th scope="col">Job Status</th>
                        <th scope="col">Payment to Service Provider</th>
                        <th scope="col">Mobile No. for Payment</th>
                        <th scope="col">Payment Status</th>
  
                      </tr>
                    </thead>
                    <tbody >
                      <!-- <tr>
                        <th scope="row">1</th>
                        <td>T-123456</td>
                        <td>Theke par kaam</td>
                        <td>25/02/2023</td>
                        <td>15/03/2023</td>
                        <td><button class="btn btn-primary">Details</button></td>
                        <td><button class="btn btn-primary">Pending</button></td>
                        <td>1000</td>
                        <td>1234567890</td>
                        <td>PAID</td>
                      </tr> -->
                    </tbody>
                    <div class="modal" id="myModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h3 class="modal-title">Booking Details</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                    
                          <!-- Modal body -->
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="Borders">
                                  <h5>Grahak Details</h5>
                                  <p id="name_details">Name:</p>
                                  <p id="gender_details">Gender:</p>
                                  <p id="phone_details">Phone No.:</p>
                                  <p id="mohalla_details">Mohalla:</p>
                                  <p id="village_details">Village:</p>
                                  <p id="state_details">State:</p>
                                  <p id="district_details">District:</p>                                  
                                </div>
                              </div>
                              <div class="col-md-6" id="hide-info">
                                <div class="Borders">
                                  <h5 id="heading1">Sahayak Details</h5>
                                  <p id="name1">Name:</p>
                                  <p id="gender1">Gender:</p>
                                  <p id="phone1">Phone No.:</p>
                                  <p id="mohalla1">Mohalla:</p>
                                  <p id="village1">Village:</p>
                                  <p id="state1">State:</p>
                                  <p id="district1">District:</p>   
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="Borders mt-2">
                                <h5>Description</h5>
                                <p id="descript"></p>
                                </div>
                            </div>

                            </div>
                          </div>
                    
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>
                    
                        </div>
                      </div>
                    </div>

                    
                </table>
              </div>
            </div>
          </div>
       


        {% block sidebar %}

        <div class="card card-widget col-md-12">
            <div class="card-header ">
                <h2 class="card-title">{% trans 'Recent actions' %} / </h2>
                <h3 class="card-title"> {% trans 'My actions' %}</h3>
                <h3 class="card-title"><a href="{{ app.app_url }}" class="nav-link"
                        title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                </h3>

                <div class="card-tools pull-right">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {% load log %}
                        {% get_admin_log 10 as admin_log for_user user %}
                        {% if not admin_log %}
                        <p>{% trans 'None available' %}</p>
                        {% else %}
                        <div class="timeline">
                            {% for entry in admin_log %}
                            <div>
                                <i
                                    class="fas fa-{% if entry.is_addition %}plus bg-blue{% endif %}{% if entry.is_change %}edit bg-green{% endif %}{% if entry.is_deletion %}minus bg-red{% endif %} "></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> {{entry.action_time}}</span>

                                    <div class="timeline-body">
                                        <a href="#">{{entry.user}}</a>
                                        {% if entry.is_addition %}added{% endif %}{% if entry.is_change %}edited
                                        {% endif %}{% if entry.is_deletion %}deleted{% endif %}
                                        {% if entry.is_deletion or not entry.get_admin_url %}
                                        {{ entry.object_repr }}
                                        {% else %}
                                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                        {% endif %}
                                        <br />
                                        {% if entry.content_type %}
                                        <span class="mini quiet">{% filter capfirst %}
                                            {{ entry.content_type }}{% endfilter %}</span>
                                        {% else %}
                                        <span class="mini quiet">{% trans 'Unknown content' %}</span>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>

        {% endblock %}

    </div>
    <script>
     window.onload = function() {
      var id = "Pending";
        console.log(id);
        console.log("sdf");
        $.ajax({
          url: '/job_details/',
          type: 'GET',
          data: {status: id},
          dataType: 'json',
          success: function(response) {
            console.log("abc",response);
            var tableBody = $(".myTable tbody");
            console.log("abc",tableBody);
            tableBody.empty(); // Remove existing rows
            response.data.forEach(function(data) { // Access the 'data' key and iterate over the array
              var row = $("<tr></tr>");
              row.append(`<td>${data.id}</td>`);
              row.append(`<td>${data.job_number}</td>`);
              row.append(`<td>${data.Job_type}</td>`);
              row.append(`<td>${data.Job_posting_date}</td>`);
              row.append(`<td>${data.Job_booking_date}</td>`);
              row.append(`<td><button class="btn btn-primary" onclick="getJobDetails('${data.id}', '${data.job_number}')" data-toggle="modal" data-target="#myModal">Details</button></td>`);
              row.append(`<td><button class="btn btn-primary" style="background-color: gray;">${data.Job_status}</button></td>`);
              row.append(`<td>${data.payment_to_service_provider}</td>`);
              row.append(`<td>${data.mobile_no_for_payment}</td>`);
              row.append(`<td><button class="btn btn-primary" onclick='GetJobID(${data.id}>${data.Payment_status}</button></td>`);
              tableBody.append(row); // Append new row
            });
          }
        });
      };
      
      function statusfunction(){
        var id = $("#status-filter").val();
        console.log(id);
        console.log("sdf");
        $.ajax({
          url: '/job_details/',
          type: 'GET',
          data: {status: id},
          dataType: 'json',
          success: function(response) {
            console.log("abc",response);
            var tableBody = $(".myTable tbody");
            console.log("abc",tableBody);
            tableBody.empty(); // Remove existing rows
            response.data.forEach(function(data) { // Access the 'data' key and iterate over the array
            console.log(data.job_number)
              var row = $("<tr></tr>");
              row.append(`<td>${data.id}</td>`);
              row.append(`<td>${data.job_number}</td>`);
              row.append(`<td>${data.Job_type}</td>`);
              row.append(`<td>${data.Job_posting_date}</td>`);
              row.append(`<td>${data.Job_booking_date}</td>`);
              row.append(`<td><button class="btn btn-primary" onclick="getJobDetails('${data.id}', '${data.job_number}')" data-toggle="modal" data-target="#myModal">Details</button></td>`);
              row.append(`<td><button class="btn btn-primary" style="background-color: gray;">${data.Job_status}</button></td>`);
              row.append(`<td>${data.payment_to_service_provider}</td>`);
              row.append(`<td>${data.mobile_no_for_payment}</td>`);
              row.append(`<td><button class="btn btn-primary" style="background-color: red;" onclick='GetJobID(${data.id})'>${data.Payment_status}</button></td>`);
              tableBody.append(row); // Append new row
            });
          }
        });
      }
     
      function getJobDetails(id,job_number) {
        
        console.log("sdf", id,job_number);
        $.ajax({
          url: '/job_details_admin/',
          type: 'GET',
          data: {id: id,job_number:job_number},
          dataType: 'json',
          success: function(response) {
            console.log(response)
             document.getElementById('name_details').innerHTML= "Name:"+response[0].grahak_name;
             document.getElementById('gender_details').innerHTML= "Gender:"+response[0].grahak_gender;
             document.getElementById('phone_details').innerHTML= "Phone No:"+response[0].grahak_phone;
             document.getElementById('mohalla_details').innerHTML= "Mohalla:"+response[0].grahak_mohalla;
             document.getElementById('village_details').innerHTML= "Village:"+response[0].grahak_village;
             document.getElementById('district_details').innerHTML= "District:"+response[0].grahak_district;
             document.getElementById('state_details').innerHTML= "State:"+response[0].grahak_state;
             document.getElementById('descript').innerHTML=response[0].desc;
              if(response[0].status == 'Pending'){
                document.getElementById('hide-info').style.display='none';
              }
              else {
                document.getElementById('hide-info').style.display='block';
                document.getElementById('heading1').innerHTML=response[0].heading;
                document.getElementById('name1').innerHTML= "Name:"+response[0].name;
                document.getElementById('gender1').innerHTML= "Gender:"+response[0].gender;
                document.getElementById('phone1').innerHTML= "Phone No:"+response[0].phone;
                document.getElementById('mohalla1').innerHTML= "Mohalla:"+response[0].mohalla;
                document.getElementById('village1').innerHTML= "Village:"+response[0].village;
                document.getElementById('district1').innerHTML= "District:"+response[0].district;
                document.getElementById('state1').innerHTML= "State:"+response[0].state;
              }

          }
        }); 
      }
    
    function GetJobID(id) {
      const confirmed = confirm("Are you sure you want to make the payment?");
      if (confirmed) {
        // If the user clicks "OK"
        alert("Payment updated successfully !","");
      } else {
        // If the user clicks "Cancel" or presses the escape key
        alert("Payment not updated !.","");
      }
      $.ajax({
          url: '/payment_status/',
          type: 'POST',
          data: {id: id},
          dataType: 'json',
        })}  
    </script>
    {% endblock %}