{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_menu %}
{% load i18n static %}
{% block extrastyle %}
{{ block.super }}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" /> -->
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<style>
  .small-box h4 {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.small-box .inner p {
    font-size: 12px;
    margin-bottom: 0px;
    color: #fff;
}
.small-box .icon>i.ion {
    top: unset;
    bottom: 0;
    font-size: 40px;
}
.content-wrapper{
  min-height: auto !important;
}
.myTable th{
  white-space: nowrap;
}
</style>
<div class="row mb-2">
    <div class="col-sm-6">
        <h2>{{site_info.site_name}} Fawda Administration</h2>
    </div>
    <div class="col-sm-8">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fas fa-tachometer-alt"></i> {% trans 'Home' %}</a></li>
            <!-- {% for app in app_list %}
            <li class="breadcrumb-item active">{{ app.name }}</li>
            {% endfor %} -->
        </ol>
    </div>
</div>
{% endblock %}
{% endif %}


{% block content %}
<div id="content-main" class="container-fluid">
    	<div class="row">
            <div class="col">
                <!-- small box -->
                <div class="small-box bg-info">
                  <div class="inner">
                    <h4>Revenue</h4>
                    <b>
                    <p>Total:100</p>
                    <p>Today:05</p>
                    </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                 
                </div>
              </div>
              <!-- ./col -->
              <div class="col">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h4>Grahak Registration</h4>
                  <b>
                    <p>Total:{{total_registrations_grahak}}</p>
                    <p>Today:{{total_registrations_grahak}}</p>
                  </b>

                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                 
                </div>
              </div>
              <!-- ./col -->
              <div class="col">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h4>Sahayak Registration</h4>
                  <b>
                    <p>Total:{{total_registrations_sahayak}}</p>
                    <p>Today:{{today_registrations_sahayak}}</p>
                  </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                  
                </div>
              </div>
              <!-- ./col -->
              <div class="col">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h4>Machine Registration</h4>
                    <b>
                    <p>Total:{{total_registrations_machine}}</p>
                    <p>Today:{{total_registrations_machine}}</p>
                    </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
               
                </div>
              </div>

              <div class="col">
                <!-- small box -->
                <div class="small-box bg-secondary">
                  <div class="inner">
                    <h4>Job Booking</h4>
                  <b>
                    <p>Total:{{total_booking}}</p>
                    <p>Today:{{today_booking}}</p>
                  </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
               
                </div>
              </div>
              <!-- ./col -->
        </div>
    
       <!-- chart -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">
              <h4>Filter with status</h4>
              <select class="form-control w-auto my-3" id="status-filter" onchange="statusfunction()">
                <option value="Pending" selected>Pending</option>
                <option value="Accepted">Accepted</option>
                <option value="Booked">Booked</option>
                <option value="Ongoing">Ongoing</option>
                <option value="Completed">Completed</option>
              </select>
              <div class="table-responsive">
                <table class="table table-bordered table-striped myTable">
                  <thead>
                      <tr>
                        <th scope="col">Sr. No</th>
                        <th scope="col">Job Number</th>
                        <th scope="col">Job Type</th>
                        <th scope="col">Job Posting Date</th>
                        <th scope="col">Job Booking Date</th>
                        <th scope="col">Job Details</th>
                        <th scope="col">Job Status</th>
                        <th scope="col">Payment to Service Provider</th>
                        <th scope="col">Mobile No. for Payment</th>
                        <th scope="col">Payment Status</th>
  
                      </tr>
                    </thead>
                    <tbody >
                      <!-- <tr>
                        <th scope="row">1</th>
                        <td>T-123456</td>
                        <td>Theke par kaam</td>
                        <td>25/02/2023</td>
                        <td>15/03/2023</td>
                        <td><button class="btn btn-primary">Details</button></td>
                        <td><button class="btn btn-primary">Pending</button></td>
                        <td>1000</td>
                        <td>1234567890</td>
                        <td>PAID</td>
                      </tr> -->
                    </tbody>
                    <div class="modal" id="myModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Job Details</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                    
                          <!-- Modal body -->
                          <div class="modal-body">
                            <h1>hello</h1>
                            <h1>hello</h1>
                            <h1>hello</h1>
                            <h1>hello</h1>
                            <h1>hello</h1>
                          </div>
                    
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>
                    
                        </div>
                      </div>
                    </div>

                    
                </table>
              </div>
            </div>
          </div>
       


        {% block sidebar %}

        <div class="card card-widget col-md-12">
            <div class="card-header ">
                <h2 class="card-title">{% trans 'Recent actions' %} / </h2>
                <h3 class="card-title"> {% trans 'My actions' %}</h3>
                <h3 class="card-title"><a href="{{ app.app_url }}" class="nav-link"
                        title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                </h3>

                <div class="card-tools pull-right">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {% load log %}
                        {% get_admin_log 10 as admin_log for_user user %}
                        {% if not admin_log %}
                        <p>{% trans 'None available' %}</p>
                        {% else %}
                        <div class="timeline">
                            {% for entry in admin_log %}
                            <div>
                                <i
                                    class="fas fa-{% if entry.is_addition %}plus bg-blue{% endif %}{% if entry.is_change %}edit bg-green{% endif %}{% if entry.is_deletion %}minus bg-red{% endif %} "></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> {{entry.action_time}}</span>

                                    <div class="timeline-body">
                                        <a href="#">{{entry.user}}</a>
                                        {% if entry.is_addition %}added{% endif %}{% if entry.is_change %}edited
                                        {% endif %}{% if entry.is_deletion %}deleted{% endif %}
                                        {% if entry.is_deletion or not entry.get_admin_url %}
                                        {{ entry.object_repr }}
                                        {% else %}
                                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                        {% endif %}
                                        <br />
                                        {% if entry.content_type %}
                                        <span class="mini quiet">{% filter capfirst %}
                                            {{ entry.content_type }}{% endfilter %}</span>
                                        {% else %}
                                        <span class="mini quiet">{% trans 'Unknown content' %}</span>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>

        {% endblock %}

    </div>
    <script>
     window.onload = function() {
      var id = "Pending";
        console.log(id);
        console.log("sdf");
        $.ajax({
          url: '/job_details/',
          type: 'GET',
          data: {status: id},
          dataType: 'json',
          success: function(response) {
            console.log("abc",response);
            var tableBody = $(".myTable tbody");
            console.log("abc",tableBody);
            tableBody.empty(); // Remove existing rows
            response.data.forEach(function(data) { // Access the 'data' key and iterate over the array
              var row = $("<tr></tr>");
              row.append(`<td>${data.id}</td>`);
              row.append(`<td>${data.job_number}</td>`);
              row.append(`<td>${data.Job_type}</td>`);
              row.append(`<td>${data.Job_posting_date}</td>`);
              row.append(`<td>${data.Job_booking_date}</td>`);
              row.append(`<td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Details</button></td>`);
              row.append(`<td><button class="btn btn-primary">${data.Job_satatus}</button></td>`);
              row.append(`<td>${data.payment_to_service_provider}</td>`);
              row.append(`<td>${data.mobile_no_for_payment}</td>`);
              row.append(`<td>${data.Payment_status}</td>`);
              tableBody.append(row); // Append new row
            });
          }
        });
      };
      
      function statusfunction(){
        var id = $("#status-filter").val();
        console.log(id);
        console.log("sdf");
        $.ajax({
          url: '/job_details/',
          type: 'GET',
          data: {status: id},
          dataType: 'json',
          success: function(response) {
            console.log("abc",response);
            var tableBody = $(".myTable tbody");
            console.log("abc",tableBody);
            tableBody.empty(); // Remove existing rows
            response.data.forEach(function(data) { // Access the 'data' key and iterate over the array
              var row = $("<tr></tr>");
              row.append(`<td>${data.id}</td>`);
              row.append(`<td>${data.job_number}</td>`);
              row.append(`<td>${data.Job_type}</td>`);
              row.append(`<td>${data.Job_posting_date}</td>`);
              row.append(`<td>${data.Job_booking_date}</td>`);
              row.append(`<td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Details</button></td>`);
              row.append(`<td><button class="btn btn-primary">${data.Job_satatus}</button></td>`);
              row.append(`<td>${data.payment_to_service_provider}</td>`);
              row.append(`<td>${data.mobile_no_for_payment}</td>`);
              row.append(`<td>${data.Payment_status}</td>`);
              tableBody.append(row); // Append new row
            });
          }
        });
      }
     
    </script>
    {% endblock %}